html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;

  font-family: "Bebas Neue", cursive;
}

.time {
  position: absolute;
  top: 15%;
  width: 100%;
  color: #ffffff;
  font-size: 6vh;
  background: #00000033;
  padding-top: 5px;
  text-align: center;
}

.restart {
  display: flex;
  justify-content: center;
  position: absolute;

  top: 40%;
  width: 100%;
  font-size: 8vh;

  color: #ffffff;
  border: none;
  background: #00000033;
  padding: 10px;

  cursor: pointer;
  pointer-events: auto;
}

.controls {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
}

.controls .raw {
  display: flex;
  justify-content: center;
}

.controls .key {
  width: 2vh;
  height: 2vh;
  margin: 0.25vh;
  border: 2px solid #ffffff;
  background: #ffffff44;
}

.controls .key.large {
  width: 8vh;
}

.controls .key.active {
  background: #ffffff99;
}
